[Desktop Entry]
Name=Flatery
X-KDE-PluginInfo-Author=Dmitry Zamyslov aka Cybernix
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=ghostdmn2@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Flatery
X-KDE-PluginInfo-Version=1.0
